In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
import pandas

In [ ]:
L = list()

In [ ]:
%%bigquery --project maiopro df_temp
SELECT
  Min(GKGRECORDID) Id,
  Min(DATE(_PARTITIONTIME)) Date,
  REGEXP_EXTRACT(Extras, '<PAGE_TITLE>(.*)</PAGE_TITLE>') Title,
  Min(Locations) Lat_Long,
FROM
  `gdelt-bq.gdeltv2.gkg_partitioned`
WHERE
  Locations != '' and
  EXTRACT(MONTH FROM DATE(_PARTITIONTIME)) = 9 and
  EXTRACT(YEAR FROM DATE(_PARTITIONTIME)) = 2019 and
  REGEXP_CONTAINS(Extras, '.*TITLE.*') and
  (REGEXP_CONTAINS(REGEXP_EXTRACT(Extras, '<PAGE_TITLE>(.*)</PAGE_TITLE>'), 'Agriculture ') or 
  REGEXP_CONTAINS(REGEXP_EXTRACT(Extras, '<PAGE_TITLE>(.*)</PAGE_TITLE>'), ' agriculture '))
GROUP BY Title
ORDER BY Date ASC

In [ ]:
l = []
for lat_log in df_temp['Lat_Long']:
  l.append(lat_log.split(';'))


df_temp['Lat_Long'] = l

L.append(df_temp) 

df_teste = pandas.concat(L, ignore_index=True)
print(len(df_teste))

df_teste

5076

                        Id  ...                                           Lat_Long
0     20190922211500-T1569  ...  [3#Houston, Texas, United States#US#USTX#29.76...
1      20190922210000-T942  ...  [4#Kalyan, Maharashtra, India#IN#IN16#19.25#73...
2       20190922183000-735  ...  [1#Afghanistan#AF#AF#33#66#AF, 4#Balaka, SéU, ...
3     20190922231500-T1313  ...  [4#Mumbai, Maharashtra, India#IN#IN16#18.975#7...
4     20190922213000-T2035  ...  [3#Houston, Texas, United States#US#USTX#29.76...
...                    ...  ...                                                ...
5071    20200531000000-424  ...  [2#New York, United States#US#USNY#42.1497#-74...
5072    20200531220000-171  ...  [2#New York, United States#US#USNY#42.1497#-74...
5073    20200531170000-516  ...  [2#Minnesota, United States#US#USMN#45.7326#-9...
5074    20200531111500-812  ...                     [1#Kuwait#KU#KU#29.5#47.75#KU]
5075    20200531191500-453  ...      [1#United States#US#US#39.828175#-98.5795#US]

[5076 rows x 4 columns]

In [ ]:
df = df_teste[:6000]

In [ ]:
df

                       Id  ...                                           Lat_Long
0      20190922183000-562  ...  [1#Germany#GM#GM#51.5#10.5#GM, 1#China#CH#CH#3...
1     20190922173000-1137  ...  [2#New York, United States#US#USNY#42.1497#-74...
2      20190922173000-809  ...  [1#Vietnam, Republic Of#VM#VM#16.166667#107.83...
3     20190922221500-1104  ...  [3#Washington, Washington, United States#US#US...
4     20190922180000-T222  ...  [1#Greenland#GL#GL#72#-40#GL, 4#Paris, France ...
...                   ...  ...                                                ...
5995    20191010213000-27  ...  [4#Banna Strand, Kerry, Ireland#EI#EI11#52.341...
5996  20191010093000-1361  ...  [4#Jammu, Jammu And Kashmir, India#IN#IN12#32....
5997   20191010034500-349  ...  [1#Afghanistan#AF#AF#33#66#AF, 1#Syria#SY#SY#3...
5998   20191010120000-408  ...  [4#Muyuan, Jiangxi, China#CH#CH03#27.5343#115....
5999  20191010090000-1049  ...  [4#Jammu, Jammu And Kashmir, India#IN#IN12#32....

[6000 rows x 4 columns]

In [ ]:
df.to_pickle('War.plk')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive/USP/projeto/artigos/ENIAC-10-GDELT/Datasets/GDELT/

/content/drive/MyDrive/USP/projeto/artigos/ENIAC-10-GDELT/Datasets/GDELT

In [ ]:
%%bigquery --project projtubas df_topicos
SELECT
  Topic
FROM
  `gdelt-bq.covid19.onlinenews`
GROUP BY Topic

In [ ]:
df_topicos

               Topic
0         Quarantine
1              Panic
2        Ventilators
3              Cases
4             Prices
5         Falsehoods
6   SocialDistancing
7          Shortages
8              Masks
9            Testing
10           Covid19

In [ ]:
%%bigquery --project projtubas df_covid
SELECT 
  Min(DateTime) as data, Title
FROM
  `gdelt-bq.covid19.onlinenews`
WHERE EXTRACT(MONTH FROM DateTime) = 07 and EXTRACT(DAY FROM DateTime) = 21 and EXTRACT(YEAR FROM DateTime) = 2020
GROUP BY Title
ORDER BY Min(DateTime)
LIMIT 123

In [ ]:
df_covid

                         data                                              Title
0   2020-07-21 00:01:26+00:00  Ex-Assembly speaker Silver sentenced to 6 1/2 ...
1   2020-07-21 00:01:28+00:00  Iowa cattle growers ask Congress to address a ...
2   2020-07-21 00:01:29+00:00  Changing Landscape Could Pressure Hedge Funds ...
3   2020-07-21 00:01:30+00:00              Winn-Dixie to require masks in stores
4   2020-07-21 00:01:30+00:00  "We've Worked Hard for You. Don't Take Our Rig...
..                        ...                                                ...
118 2020-07-21 00:01:48+00:00  7 New Cases of Coronavirus have been Confirmed...
119 2020-07-21 00:01:48+00:00  Another Coronavirus Vaccine Shows Promising Re...
120 2020-07-21 00:01:48+00:00  Theatre Victoria Announces Cancellation of Mus...
121 2020-07-21 00:01:48+00:00  Florida Teachers Sue To Block School Coronavir...
122 2020-07-21 00:01:48+00:00  Editorial: Meeting the immediate needs of UW's...

[123 rows x 2 columns]

In [ ]:
df_covid.to_csv('/content/drive/My Drive/usp/projeto/3AI/Datasets/Texto Livre com Data/Treino/Covid19.csv')